node_modules
.vscode-test
server/.vs
server/.idea
server/AutoUsing/bin
server/AutoUsing/obj
server/AutoUsingTest/bin
server/AutoUsingTest/obj
server/TestProg/bin
server/TestProg/obj
client/out
client/src/test/assets/bin
client/src/test/assets/obj
client/src/test/playground/bin
client/src/test/playground/obj
